body {
  background-color: #121317;
}
ol li::marker
{
  color:#58afd1;
}
.logo {
  width: fit-content;
  margin: auto;
  padding: 10px;
}
.logo img {
  width: 10rem;
  margin: auto;
}
.top-img{
  height: 150px;
  width: 150px;
  margin-top: 1%;
  margin-left: 1%;
  cursor: pointer;
  position: absolute;

}
.header {
  background-color: #1a1c21;
  text-align: center;
  font-size: larger;
  font-weight: bold;
  line-height: 2rem;
  width: fit-content;
  border-radius: 10px;
  padding: 2.5rem 4rem;
  margin: 2rem auto;
  border: 5px solid #58afd1;
  box-shadow: 0 8px 16px 0 #14688a;
}

.avtar img {
  width: 5rem;
  border-radius: 4rem;
}
.userName {
  font-size: 2rem;
  color: #58afd1;
}
.userBio {
  margin-top:10px;
  color: #ffe593;
  font-size: 1.8rem;
  padding: 10px;
  text-align: center;
  font-weight: bolder;
}

.socialLinks button {
  margin-top: 10px;
  background-color: #1a1c21;
  color: #58afd1;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #58afd1;
}
.socialLinks button:hover {
  background-color: #d3ffe9;
  color: #090909;
  
  cursor: pointer;
  border: 2px solid #ffe593;
}

.subheading {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}

#nav a {
  text-align: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
}

#nav a:hover {
  color: #8ddbe0;
}

.fa-briefcase {
  margin-right: 1rem;
}

/* link css done from here  */
.userLinks {
  margin: auto;
  padding: 5px;
  text-align: center;
  width: fit-content;
}

.link {
  background-color: #1a1c21;
  margin-bottom: 1rem;
  border: 3px solid #58afd1;
  box-shadow: 0 4px 8px 0 #14688a;
  padding: 1rem;
  word-wrap: break-word;
  border-radius: 6px;
}
.link i {
  width: 25px;
  color: inherit;
}

.link:hover {
  color:#090909;
  background-color: #d3ffe9;
}

#linksData {
  color: #58afd1;
  width: 70vw;
  word-wrap: break-word;
}

#linksData a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 540;
  padding: 10px;
}

@media only screen and (max-width: 1000px) and (min-width: 900px){
  .top-img {
    height: 90px;
    width: 90px;
    
  }
}
@media only screen and (max-width: 900px) {
  .top-img {
    height: 90px;
    width: 90px;
    margin-top: 30vh;
    
  }
}
@media only screen and (max-width: 700px) {
  .top-img {
    height: 90px;
    width: 90px;
    margin-top: 1%;
    
  }
}



