* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #121317;
  color: white;
}

.main-header {
  background-color: #1a1c21;
  text-align: center;
  width: min(800px, 90%);
  border-radius: 8px;
  margin-inline: auto;
  margin-top: 50px;
  padding: 24px;
}
.main-header p {
  font-size: 1.2rem;
  margin: 1rem 0 3rem 0;
}

.main-header h3 {
  font-size: 2rem;
  margin: 0px;
  margin-top: 30px;
}
main .showData {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
  margin-top: 30px;
}

main .showData .singlePerson button {
  margin: 10px;
  padding: 1rem 2rem;
  background-color: #1a1c21;
  color: white;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
}

.user-container {
  background-color: #1a1c21;
  text-align: center;
  width: min(800px, 90%);
  border-radius: 8px;
  margin-inline: auto;
  margin-top: 50px;
  padding: 24px;
}
.user-container .showDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}
.user-container .showDetails .userHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-container .showDetails .userHead .userName {
  font-size: 2.5rem;
  font-weight: 600;
}

.user-container .showDetails .userHead .userName span {
  font-size: 1.5rem;
}

.user-container .showDetails .userHead .userBio {
  font-size: 1.2rem;
  margin-top: 0.9rem;
  margin-bottom: 0.7rem;
}
.user-container .userLinks ol li {
  text-align: left !important;
  margin: 20px;
  word-wrap: break-word;
}

.user-container .socialLinks button {
  margin: 10px;
  padding: 1rem 2rem;
  background-color: #121317;
  color: white;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
}
.user-container .socialLinks button:hover {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #0080ff;
}

.user-container .socialLinks button:hover {
  background-color: #0080ff;
}

main .showData .singlePerson button:hover {
  border: 2px solid #0080ff;
}
