* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #121317;
  color: white;
}

.main-header {
  background-color: #1a1c21;
  text-align: center;
  width: min(800px, 90%);
  border-radius: 8px;
  margin-inline: auto;
  padding: 24px;
}
.main-header p {
  font-size: clamp(0.5rem, 3vw, 1.2rem);;
  margin: 1rem 0rem;
}

.main-header h3 {
  font-size: 2rem;
  margin: 0px;
  margin-top: 30px;
}

.main-header .contribution_link{
  font-weight: bold;
  border: 1px dotted #FFF;
  padding: 5px;
  font-size: clamp(0.5rem, 2.75vw, 1.2rem);
}

main .showData {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-wrap: wrap; */
  /* margin: 20px; */
  margin-top: 30px;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
}
.btn:focus {
  outline: 2px dotted #55d7dc;
}

.singlePerson {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.singlePerson a {
  display: flex;
  width: 100%;
}

main .showData .singlePerson button {
  margin: 10px auto;
  width: 90%;
  padding: 1.5rem 2rem;
  background-color: #1a1c21;
  color: white;
  opacity: 0.8;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  white-space: nowrap;
}
main .showData .singlePerson button:hover {
  transform: scale(1.1);
  transition: all 300ms ease-in-out;
}
.main-header,
 .showData .singlePerson button {
  box-shadow: inset 0 0 0 4px #58afd1;
  color: #58afd1;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.main-header ::before,
.main-header ::after,
 .showData .singlePerson button::before,
 .showData .singlePerson button::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.main-header::before,
 .showData .singlePerson button::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.main-header::after,
 .showData .singlePerson button::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.main-header:hover,
 .showData .singlePerson button:hover {
  color: #ffe593;
}
.main-header:hover::before,
.main-header:hover::after ,
 .showData .singlePerson button:hover::before,
 .showData .singlePerson button:hover::after {
  border-color: #ffe593;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.main-header:hover::before,
 .showData .singlePerson button:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.main-header:hover::after,
 .showData .singlePerson button:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}
.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
}
.btn:focus {
  outline: 2px dotted #55d7dc;
}



.user-container {
  background-color: #1a1c21;
  text-align: center;
  width: min(800px, 90%);
  border-radius: 8px;
  margin-inline: auto;
  margin-top: 50px;
  padding: 24px;
}
.user-container .showDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}
.user-container .showDetails .userHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-container .showDetails .userHead .userName {
  font-size: 2.5rem;
  font-weight: 600;
}

.user-container .showDetails .userHead .userName span {
  font-size: 1.5rem;
}

.user-container .showDetails .userHead .userBio {
  font-size: 1.2rem;
  margin-top: 0.9rem;
  margin-bottom: 0.7rem;
}
.user-container .userLinks ol li {
  text-align: left !important;
  margin: 20px;
  word-wrap: break-word;
}

.user-container .socialLinks button {
  margin: 10px;
  padding: 1rem 2rem;
  background-color: #121317;
  color: white;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
}
.user-container .socialLinks button:hover {
  cursor: pointer;
}


a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #0080ff;
}

.user-container .socialLinks button:hover {
  background-color: #0080ff;
}

main .showData .singlePerson button:hover {
  border: 2px solid #0080ff;
}

nav{
  height: 8vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav > a {
  margin-right: 2rem;
}

nav > a :hover{
  color: white;
}

.fa-github{
  font-size: 1.5rem;
}