header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .showData {
  display: flex;
  margin: 20px;
}

main .showData .singlePerson button {
  margin: 10px;
  padding: 10px;

  font-size: 15px;
  border-radius: 18px;
  border: 2px solid rgb(115, 114, 114);
}

main .showData .singlePerson button:hover {
  cursor: pointer;
}

.userDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.userDetails .userHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userDetails .userHead .userName {
  font-size: 2.5rem;
}

.userDetails .userHead .userName span {
  font-size: 1.5rem;
}

.userDetails .userHead .userBio {
  font-size: 1.2rem;
  margin-top: 0.9rem;
  margin-bottom: 0.7rem;
}

.userDetails .socialLinks button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid rgb(101, 101, 101);
}
.userDetails .socialLinks button:hover {
  cursor: pointer;
}
